$fuenteUno : 'Merriweather',
serif;
$fuenteDos : 'Roboto',
sans-serif;
$fuenteTres : 'Comfortaa',
cursive;
$fuenteCuatro : 'Fredoka',
sans-serif;

$fontColorGrey: #ededed;
$fontColorWhite: #ffffff;
$fontColorBlack: #121212;
$fontColorBlackDefault: #191919;
$fontColorBlue: #0a66c2;

$borderBottomGrey: #eaeaea;

$warningRed: #cc3333;
$warningOrange: #ff9966;
$warningYellow: #ffcc00;
$warningLightGreen: #99cc33;
$warningDarkGreen: #339900;